.section-hero {
  min-height: 100vh;
  position: relative;
  background-image: url('../../../assets/vectors/hero-logo-bg.svg');
  background-repeat: no-repeat;
  background-position: 40% 0;
  overflow: hidden;

  @media screen and (max-width: 992px){
    background-position: 60% 0;
  }

  @media screen and (max-width: 688px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
  }

  &::before {
    position: absolute;
    content: url('../../../assets/vectors/hero-meat-left.svg');
    top: 25%;
    left: 0;
  }

  &::after {
    position: absolute;
    content: url('../../../assets/vectors/hero-meat-right.svg');
    bottom: 0;
    right: 0;
  }

  .description {
    width: 395px;
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;

    @media screen and (max-width: 1312px){
      left: 8%;
      top: 20%;
    }

    @media screen and (max-width: 992px){
      top: 25%;
      width: auto;
    }

    @media screen and (max-width: 688px){
      position: static;
      width: auto;
      margin: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &::before {
      content: url('../../../assets/vectors/pepper.svg');
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(20%, 140%);
    }

    .desc-main {
      font-size: 68px;
      line-height: 1em;
      margin-bottom: 2.4rem;

      @media screen and (max-width: 992px){
        font-size: 58px;
      }

      @media screen and (max-width: 688px){
        padding: 0 20px;
      }
    }

    .desc-sub {
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.6em;

      @media screen and (max-width: 992px){
        width: 70%;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .hero-image-container {
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s ease-out;

    @media screen and (max-width: 1312px){
      right: -5%;
    }

    @media screen and (max-width: 992px){
      display: none;
    }

  }
}