.navigation {
  height: 150px;
  background-color: #2C2C2C80;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.2s ease-out;

  @media screen and (max-width: 1312px){
    padding: 0 40px;
  }

  &.scrolled {
    height: 80px;
    position: fixed;

    .logo a {
      .logo-main {
        height: 60px;
        width: 60px;
        margin-right: 20px;
      }
  
      .logo-sub {
        height: 50px;
        width: auto;
      }
    }
    
  }

  .logo {
    margin-right: 50px;

    @media screen and (max-width: 1312px){
      margin-right: 20px;
    }
  }

  .logo a {
    height: 100%;
    display: flex;
    align-items: center;

    .logo-main {
      margin-right: 40px;
      transition: .2s ease-out;

      @media screen and (max-width: 1312px){
        height: 100px;
        margin-right: 25px;
      }
    }

    .logo-sub {
      transition: .2s ease-out;

      @media screen and (max-width: 1312px){
        width: auto;
        height: 65px;
      }
    }
  }

  .menu-container {
    display: flex;
    align-items: center;
    width: 70%;

    @media screen and (max-width: 992px) {
      justify-content: flex-end;
    }

    .mobile-button {
      padding: 5px 10px;
      cursor: pointer;
      display: none;

      &.active {
        .bar:nth-of-type(1) {
          transform: translateY(11px) rotate(45deg);
        }

        .bar:nth-of-type(2) {
          opacity: 0;
        }

        .bar:nth-of-type(3) {
          transform: translateY(-11px) rotate(-45deg);
        }
      }

      @media screen and (max-width: 992px) {
        display: block;
      }

      .bar {
        width: 35px;
        margin: 8px 0;
        height: 3px;
        background-color: white;
        transition: 0.2s ease-out;
      }
    }
  }
}

