.language-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px 0;
  position: relative;
  transition: 0.2s ease-out;

  @media screen and (max-width: 992px) {
    display: none;
  }

  .arrow {
    margin-top: 10px;
    transition: 0.2s ease-out;
  }
}

.scrolled {
  .language-dropdown {
    flex-direction: row;
    padding: 0 10px;

    .arrow {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}