.section-tradition {
  width: 100%;
  background-image: url('../../../assets/images/tradition-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .content-container {
    height: 950px;
    display: flex;
    position: relative;

    @media screen and (max-width: 688px){
      height: auto;
      flex-direction: column;
    }

    .tradition-image-container {
      height: 75%;
      width: 50%;

      @media screen and (max-width: 688px){
        width: 100%;
        margin-bottom: 60px;
      }

      .tradition-image {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .tradition-text-container {
      width: 50%;
      display: flex;
      padding: 5%;
      align-items: flex-start;
      flex-direction: column;
      flex-grow: 0;

      @media screen and (max-width: 688px) {
        width: 100%;
        align-items: flex-end;
        padding: 0 20px;
      }

      .header {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 8px;

        @media screen and (max-width: 688px) {
          // font-size: 14px;
          width: 100%;
        }
      }

      .title {
        font-family: 'DM Serif Display', serif;
        font-size: 48px;
        margin-bottom: 3rem;
        line-height: 62px;

        @media screen and (max-width: 688px) {
          font-size: 46px;
          margin-bottom: 2rem;
          // line-height: 54px;
        }
      }

      .description {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        width: 420px;
        margin-bottom: 3rem;

        @media screen and (max-width: 992px){
          width: auto;
        }

        @media screen and (max-width: 688px) {
          font-size: 14px;
          margin-bottom: 2rem;
        }
      }

      .tradition-more-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          .icon-more-arrow {
            transform: translateX(12px);
          }

          .more-text {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            transform: translateX(20px);
          }
        }

        .icon-more-arrow {
          transition: 0.3s ease-out;
          padding: 10px 0;
          box-sizing: content-box;
        }

        .more-text {
          letter-spacing: 4px;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          padding: 10px 20px;
          box-sizing: content-box;
          transition: 0.2s ease-out;
          transition-delay: 0.2s;
        }
      }
    }
  }

  .specials-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 688px){
      position: static;
      transform: translateY(0);
      padding: 40px 0;
    }

    p {
      font-size: 48px;
      line-height: 62px;
      font-family: 'DM Serif Display', serif;
      text-align: center;
      position: relative;

      @media screen and (max-width: 992px) {
        font-size: 42px;
        line-height: 54px;
      }

      @media screen and (max-width: 688px) {
        font-size: 38px;
        line-height: 48px;
      }

      @media screen and (max-width: 480px) {
        font-size: 32px;
        line-height: 44px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: url('../../../assets/vectors/icon-petals-1.svg');
        transform: translate(-130%, -80%);

        @media screen and (max-width: 992px) {
          transform: scale(0.8) translate(-120%, -80%);
        }

        @media screen and (max-width: 688px) {
          transform: scale(0.6) translate(-130%, -90%);
        }

        @media screen and (max-width: 480px) {
          transform: scale(0.5) translate(-140%, -100%);
        }
      }
    }
  }
}