* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  background-color: black;
}

.bold {
  font-weight: 700;
}


/* 
font-family: 'DM Serif Display', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
*/